<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container my-50">
    <div class="mx-auto w-50">


        <div class="d-flex justify-content-center ">
            <h1 class="display-4">ABC Search Index</h1>
        </div>
        <form action="/index" method="post">
            <div class="form-group">
                <input type="text" placeholder="What are you looking for?" class="form-control google-search" name="link">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-default">Index</button>
            </div>
        </form>

    </div>
</div>

</body>
</html>