<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Search page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
        <div class="d-flex justify-content-center ">
        <h1 class="display-4">ABC Search</h1>
        </div>
        <form class="form-inline " action="/search" method="post">
            <div class="form-group mx-sm-3 mb-2">
                <input name="query" type="text"  placeholder="search query">
            </div>
            <button type="submit" class="btn btn-outline-dark btn-sm mb-2">Search </button>
        </form>

    <section class="col-xs-12 col-sm-6 col-md-12 ">
        <div  th:if="${docs.isEmpty()}">
            <blockquote class="blockquote text-center">
                <h2 class="text-muted" th:text="'Oops, no result for &quot;' + ${query} + '&quot; :('"></h2>
                <h2 class="text-muted">Please specify your query</h2>
            </blockquote>
        </div>
          <div class="mt-80">
                <article th:each="doc : ${docs}" class="search-result row shadow-sm border">
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <h3><a th:href="${doc.get('link')}" th:text="${doc.get('tittle')}" ></a></h3>
                        <p th:text="${doc.get('body').substring(0,200)}"></p>
                    </div>
                    <span class="clearfix borda"></span>
                </article>
          </div>
    </section>

</div>
</body>
</html>